{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h3>DMIA HW#1: How frequent is this password?</h3>
            </div>

            <div class="row">
                <div class="col">
                    <p>Как часто встретится ваш пароль среди миллиона реальных пользовательских паролей?</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>Первое домашнее задание по Production ML в DMIA 2021.</p>
                    <p>Продолжаем работать с решением <a href="https://www.kaggle.com/c/dmia-production-ml-2021-1-passwords/">вступительного контеста</a>.</p>
                    <p>Теперь нам надо обернуть ML модель в web-сервис.</p>
                    <p>Я оставил простое <a href="https://gitlab.com/gggrafff/dmia2021-passwords-competition">решение контеста</a>, которое позволило преодолеть бейзлайн, и продолжил с ним работать.</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>Веб-сервис на flask, api с помощью flask-restx.</p>
                    <p>Исходники этого решения доступны <a href="https://gitlab.com/gggrafff/dmia2021-hw1-passwords">на gitlab</a>.</p>
                </div>
            </div>

            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <form method="POST">
                        <label class="sr-only">Input password</label>
                        <input type="text" class="form-control" name="password" placeholder="Input password here">
                        <button type="submit" class="btn btn-primary btn-block mt-2" name="action">Predict</button>
                    </form>

                    <form>
                        <div class="form-row mt-5">
                            <div class="col">
                                <label for="password_id">Password</label>
                                <input type="text" class="form-control" id="password_id" placeholder="{{ password }}"
                                       readonly>
                            </div>
                            <div class="col">
                                <label for="prediction_id">Prediction</label>
                                <input type="text" class="form-control" id="prediction_id" placeholder="{{ prediction }}"
                                       readonly>
                            </div>
                        </div>
                    </form>
                </blockquote>
            </div>
        </div>
    </div>
{% endblock %}
